openapi: 3.1.3
info:
  title: AXENTA API
  version: v1
  description: |
    Русскоязычная документация API системы мониторинга Axenta.
servers:
  - url: https://axenta.cloud/
tags:
  - name: Аутентификация
    description: Вход в систему и управление токенами
  - name: Пользователи
    description: Управление пользователями в интерфейсе мониторинга
  - name: Геокодирование
    description: Преобразование координат в адреса
  - name: Водители
    description: Управление водителями и их привязка к объектам
  - name: Устройства
    description: Управление устройствами (метки, точки доступа) и их модели
  - name: Геозоны
    description: Управление геозонами (зонами на карте) и их группами
  - name: Прицепы
    description: Управление прицепами и их привязка к объектам
  - name: Сообщения
    description: Получение сообщений от объектов
  - name: Уведомления
    description: Настройка уведомлений и получение сработавших уведомлений
  # - name: Отчёты
  #   description: Создание и управление отчётами, шаблонами и рассылками
  - name: Треки
    description: Построение треков движения объектов
  - name: Локаторы
    description: Публичные ссылки для отслеживания объектов
  - name: Помещения
    description: Управление зданиями и помещениями
  # - name: Пользовательские устройства
  #   description: Управление мобильными устройствами пользователей
  # - name: Права доступа
  #   description: Управление правами доступа к ресурсам
  - name: Объекты
    description: Работа с объектами мониторинга
  - name: Учетные записи
    description: Работа с учетной записью и профилем пользователя
  - name: CMS
    description: CMS (панель администратора/партнёра)
paths:
  # ==================== АУТЕНТИФИКАЦИЯ ====================
  /api/auth/login/:
    post:
      tags: [Аутентификация]
      summary: Вход в систему мониторинга
      description: |
        Аутентификация пользователя в системе мониторинга Axenta.
        При успешной авторизации возвращается токен, который необходимо использовать
        в заголовке Authorization для всех последующих запросов в формате: `Token <ваш_токен>`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  description: логин пользователя
                  example: "test_user"
                password:
                  type: string
                  format: password
                  description: Пароль пользователя
                  minLength: 6
                  example: "password123"
      responses:
        "200":
          description: Успешная авторизация
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Токен авторизации для использования в API
                    example: "1234567890abcdef"
              examples:
                success:
                  value:
                    token: "1234567890abcdef"
        "400":
          description: Неверные учетные данные
          content:
            application/json:
              schema:
                type: object
                properties:
                  nonFieldErrors:
                    type: array
                    items:
                      type: string
              examples:
                invalid_credentials:
                  value:
                    nonFieldErrors:
                      ["Невозможно войти с предоставленными учетными данными"]

  # ==================== ТЕКУЩИЙ ПОЛЬЗОВАТЕЛЬ ====================
  /api/current_user/:
    get:
      tags: [Пользователи]
      summary: Получить данные текущего пользователя
      description: |
        Возвращает полную информацию о текущем авторизованном пользователе,
        включая настройки профиля, права доступа и информацию об аккаунте.
      security:
        - TokenAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
              examples:
                example:
                  value:
                    id: 1
                    username: "test_user"
                    email: "user@example.com"
                    name: "Иван Петров"
                    isActive: true
                    language: "ru"
                    timezone: 3
                    #dateJoined: "2024-01-15T10:30:00Z"
                    lastLogin: "2025-10-06T08:15:00Z"
                    accountId: 10
                    accountName: "ООО Транспорт"
                    accountType: "client"
                    isAdmin: false
                    hasAdminAccess: false
                    addressFormat: ["country", "city", "road", "house"]
                    objectCardSettings: { general: 0, sensors: 2, geozones: 1 }
                    monitoringItemSetup:
                      {
                        configListItem: { address: true, objectIcon: true },
                        configContextMenu: { buildTrack: 1 },
                      }
        "401":
          description: Не авторизован

  # ==================== УПРАВЛЕНИЕ ПОЛЬЗОВАТЕЛЯМИ ====================
  /api/users/:
    get:
      tags: [Пользователи]
      summary: Список пользователей
      description: |
        Возвращает список доступных пользователей для текущего аккаунта (кроме администратора и текущего пользователя).
      security:
        - TokenAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserListItem"
    post:
      tags: [Пользователи]
      summary: Создать пользователя
      description: |
        Создание нового пользователя в текущем аккаунте.
        Требуются права на создание пользователей.
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserCreateRequest"
            examples:
              create:
                value:
                  name: "Иванов Петр"
                  username: "ivanov"
                  email: "ivanov@example.com"
                  password: "SecureP@ss123"
                  confirmPassword: "SecureP@ss123"
                  hasAdminAccess: false
                  language: "ru"
                  timezone: 3
                  visibleTabsNames: ["monitoring", "reports", "objects"]
                  accesses:
                    common:
                      accesses:
                        access_reports: true
      responses:
        "201":
          description: Пользователь успешно создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDetail"
        "400":
          description: Ошибка валидации данных
        "403":
          description: Недостаточно прав для создания пользователя

  /api/users/{id}/:
    get:
      tags: [Пользователи]
      summary: Инорфмация о пользователе по id
      description: Получить полную информацию о конкретном пользователе
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID пользователя
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/UserDetail"
                  - type: object
                    properties:
                      currentUserAccess:
                        type: array
                        items:
                          type: string
                        description: Права доступа текущего пользователя к этому пользователю
        "404":
          description: Пользователь не найден
    put:
      tags: [Пользователи]
      summary: Обновить пользователя
      description: |
        Полное обновление данных пользователя.
        Требуются права на редактирование пользователя.
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserUpdateRequest"
      responses:
        "200":
          description: Пользователь успешно обновлен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDetail"
        "403":
          description: Недостаточно прав для редактирования
        "404":
          description: Пользователь не найден
    patch:
      tags: [Пользователи]
      summary: Частично обновить пользователя
      description: Частичное обновление данных пользователя (можно передать только изменяемые поля)
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserUpdateRequest"
      responses:
        "200":
          description: Пользователь успешно обновлен
        "403":
          description: Недостаточно прав для редактирования
        "404":
          description: Пользователь не найден
    delete:
      tags: [Пользователи]
      summary: Удалить пользователя
      description: |
        Удаление пользователя из системы.
        Требуются права на удаление пользователя.
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Пользователь успешно удален
        "403":
          description: Недостаточно прав для удаления
        "404":
          description: Пользователь не найден

  # ==================== ГЕОКОДИРОВАНИЕ ====================
  /api/geocoding/reverse/:
    post:
      tags: [Геокодирование]
      summary: Обратное геокодирование
      description: |
        Преобразование географических координат в читаемые адреса.
        Поддерживает как единичные запросы, так и пакетную обработку множества координат.
        Результаты кэшируются на 1 час для оптимизации производительности.
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [coordinates]
              properties:
                coordinates:
                  type: array
                  description: Массив координат для геокодирования
                  items:
                    type: object
                    required: [lat, lng]
                    properties:
                      lat:
                        type: number
                        format: double
                        description: Широта
                        minimum: -90
                        maximum: 90
                      lng:
                        type: number
                        format: double
                        description: Долгота
                        minimum: -180
                        maximum: 180
            examples:
              single:
                summary: Одна координата
                value:
                  coordinates:
                    - lat: 55.751244
                      lng: 37.618423
              multiple:
                summary: Несколько координат
                value:
                  coordinates:
                    - lat: 55.751244
                      lng: 37.618423
                    - lat: 59.934280
                      lng: 30.335099
                    - lat: 56.838607
                      lng: 60.605514
      responses:
        "200":
          description: Успешное преобразование координат в адреса
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    address:
                      type: string
                      description: Форматированный адрес согласно настройкам пользователя
              examples:
                result:
                  value:
                    "37.618423_55.751244":
                      address: "Россия, Москва, Красная площадь, 1"
                    "30.335099_59.934280":
                      address: "Россия, Санкт-Петербург, Невский проспект, 1"
        "400":
          description: Ошибка валидации координат
        "401":
          description: Не авторизован

  # ==================== ВОДИТЕЛИ ====================
  /api/drivers/:
    get:
      tags: [Водители]
      summary: Список водителей
      description: |
        Возвращает список всех водителей в текущем аккаунте.
        Включает информацию о привязке водителя к объекту (если привязан).
      security:
        - TokenAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Driver"
              examples:
                success:
                  value:
                    - id: 1
                      name: "Иванов Иван Иванович"
                      code: "DRV001"
                      description: "Опытный водитель"
                      phoneNumber: "+79001234567"
                      mobileKey: "1234567890ABCDEF"
                      isExcluding: false
                      customFields: { licenseNumber: "1234 567890" }
                      object:
                        id: 101
                        name: "Камаз-001"
    post:
      tags: [Водители]
      summary: Создать водителя
      description: Создание нового водителя в учетной записи
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DriverCreateRequest"
            examples:
              create:
                value:
                  name: "Петров Петр Петрович"
                  code: "DRV002"
                  description: "Водитель с большим стажем"
                  phoneNumber: "+79009876543"
                  mobileKey: "FEDCBA0987654321"
                  isExcluding: false
                  customFields:
                    licenseNumber: "9876 543210"
                    experience: "15 лет"
      responses:
        "201":
          description: Водитель успешно создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Driver"
        "400":
          description: Ошибка валидации данных

  /api/drivers/{id}/:
    get:
      tags: [Водители]
      summary: Детали водителя
      description: Получить полную информацию о конкретном водителе
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Driver"
        "404":
          description: Водитель не найден
    put:
      tags: [Водители]
      summary: Обновить водителя
      description: Полное обновление данных водителя
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DriverUpdateRequest"
      responses:
        "200":
          description: Водитель успешно обновлен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Driver"
        "404":
          description: Водитель не найден
    patch:
      tags: [Водители]
      summary: Частично обновить водителя
      description: Частичное обновление данных водителя
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DriverUpdateRequest"
      responses:
        "200":
          description: Водитель успешно обновлен
        "404":
          description: Водитель не найден
    delete:
      tags: [Водители]
      summary: Удалить водителя
      description: Удаление водителя из системы
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Водитель успешно удален
        "404":
          description: Водитель не найден

  /api/driver/attach/:
    post:
      tags: [Водители]
      summary: Прикрепить водителя к объекту
      description: |
        Привязка водителя к конкретному объекту мониторинга.
        Если водитель является "исключающим", все остальные водители будут автоматически сняты с объекта.
        Если водитель уже привязан к другому объекту, он будет откреплен от предыдущего.
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [driverId, objectId]
              properties:
                driverId:
                  type: integer
                  description: ID водителя
                  minimum: 1
                objectId:
                  type: integer
                  description: ID объекта
                  minimum: 1
            examples:
              attach:
                value:
                  driverId: 1
                  objectId: 101
      responses:
        "204":
          description: Водитель успешно прикреплен к объекту
        "400":
          description: Ошибка при прикреплении
        "404":
          description: Водитель или объект не найден

  /api/driver/deattach/:
    post:
      tags: [Водители]
      summary: Открепить водителя от объекта
      description: |
        Отвязка водителя от объекта мониторинга.
        Завершает текущую сессию привязки водителя.
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [driverId]
              properties:
                driverId:
                  type: integer
                  description: ID водителя
                  minimum: 1
            examples:
              deattach:
                value:
                  driverId: 1
      responses:
        "204":
          description: Водитель успешно откреплен от объекта
        "400":
          description: Ошибка при откреплении
        "404":
          description: Водитель не найден

  /api/driver/history/{driver_id}/:
    get:
      tags: [Водители]
      summary: История привязок водителя
      description: |
        Получить историю всех привязок водителя к объектам.
        Включает даты начала и окончания каждой привязки.
      security:
        - TokenAuth: []
      parameters:
        - name: driver_id
          in: path
          required: true
          schema:
            type: integer
          description: ID водителя
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: ID записи в истории
                    driverId:
                      type: integer
                      description: ID водителя
                    driverName:
                      type: string
                      description: Имя водителя
                    objectId:
                      type: integer
                      description: ID объекта
                    objectName:
                      type: string
                      description: Название объекта
                    datetimeStart:
                      type: string
                      format: date-time
                      description: Дата и время начала привязки
                    datetimeEnd:
                      type: string
                      format: date-time
                      nullable: true
                      description: Дата и время окончания привязки (null если еще привязан)
                    assignMode:
                      type: string
                      description: Режим привязки (manual, auto)
              examples:
                history:
                  value:
                    - id: 1
                      driverId: 1
                      driverName: "Иванов И.И."
                      objectId: 101
                      objectName: "Камаз-001"
                      datetimeStart: "2025-10-01T08:00:00Z"
                      datetimeEnd: "2025-10-05T18:00:00Z"
                      assignMode: "manual"
                    - id: 2
                      driverId: 1
                      driverName: "Иванов И.И."
                      objectId: 102
                      objectName: "Камаз-002"
                      datetimeStart: "2025-10-06T08:00:00Z"
                      datetimeEnd: null
                      assignMode: "manual"
        "404":
          description: Водитель не найден

  /api/drivers/groups/:
    get:
      tags: [Водители]
      summary: Список групп водителей
      description: Возвращает список всех групп водителей в текущем аккаунте
      security:
        - TokenAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DriverGroup"
    post:
      tags: [Водители]
      summary: Создать группу водителей
      description: Создание новой группы водителей
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, tiedDrivers]
              properties:
                name:
                  type: string
                  description: Название группы
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                  description: Описание группы
                  nullable: true
                tiedDrivers:
                  type: array
                  description: Массив идентификаторов водителей
                  minItems: 0
                  items:
                    type: integer
                    format: int64
      responses:
        "201":
          description: Группа успешно создана
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriverGroup"

  /api/drivers/groups/{id}/:
    get:
      tags: [Водители]
      summary: Детали группы водителей
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriverGroup"
    put:
      tags: [Водители]
      summary: Обновить группу водителей
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, tiedDrivers]
              properties:
                name:
                  type: string
                description:
                  type: string
                tiedDrivers:
                  type: array
                  description: Массив идентификаторов водителей
                  minItems: 0
                  items:
                    type: integer
                    format: int64
      responses:
        "200":
          description: Группа обновлена
    delete:
      tags: [Водители]
      summary: Удалить группу водителей
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Группа удалена

  # ==================== УСТРОЙСТВА ====================
  /api/devices/:
    get:
      tags: [Устройства]
      summary: Список устройств
      description: |
        Возвращает список всех моделей устройств (BLE метки и точки доступа Wi-Fi) в текущей учетной записи.
      security:
        - TokenAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
        - name: page_size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/Device"
    post:
      tags: [Устройства]
      summary: Создать устройство
      description: Регистрация нового устройства в системе
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceCreateRequest"
            examples:
              create:
                value:
                  name: "Терминал-001"
                  uniqueId: "123456789012345"
                  deviceModelId: 1
                  description: "Bluetooth-метка Vega"
      responses:
        "201":
          description: Устройство успешно создано
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
        "400":
          description: Ошибка валидации данных

  /api/devices/{id}/:
    get:
      tags: [Устройства]
      summary: Детали устройства
      description: Получить полную информацию о конкретном устройстве
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
        "404":
          description: Устройство не найдено
    put:
      tags: [Устройства]
      summary: Обновить устройство
      description: Полное обновление данных устройства
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceUpdateRequest"
      responses:
        "200":
          description: Устройство обновлено
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
        "404":
          description: Устройство не найдено
    patch:
      tags: [Устройства]
      summary: Частично обновить устройство
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceUpdateRequest"
      responses:
        "200":
          description: Устройство обновлено
        "404":
          description: Устройство не найдено
    delete:
      tags: [Устройства]
      summary: Удалить устройство
      description: Удаление устройства из системы
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Устройство удалено
        "404":
          description: Устройство не найдено

  /api/devices/mass_delete/:
    post:
      tags: [Устройства]
      summary: Массовое удаление устройств
      description: Удаление нескольких устройств одновременно
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [deviceIds]
              properties:
                deviceIds:
                  type: array
                  items:
                    type: integer
                    minimum: 1
                  description: Массив ID устройств для удаления
            examples:
              mass_delete:
                value:
                  deviceIds: [1, 2, 3, 4, 5]
      responses:
        "200":
          description: Устройства успешно удалены
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Сообщение о результате операции
              examples:
                success:
                  value:
                    message: "5 устройств удалено"
        "400":
          description: Ошибка при удалении

  /api/device/models/:
    get:
      tags: [Устройства]
      summary: Список моделей устройств
      description: |
        Справочник моделей bluetooth/wifi меток.
        Содержит информацию о поддерживаемых моделях устройств.
        Это справочный endpoint только для чтения.
      security:
        - TokenAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
        - name: page_size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/DeviceModel"
              examples:
                models:
                  value:
                    count: 2
                    next: null
                    previous: null
                    results:
                      - id: 1
                        name: "BLE Beacon v1"
                      - id: 2
                        name: "WiFi Tracker Pro"

  /api/device/models/{id}/:
    get:
      tags: [Устройства]
      summary: Детали модели устройства
      description: Получить подробную информацию о конкретной модели устройства
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceModel"
        "404":
          description: Модель устройства не найдена

  # ==================== ГЕОЗОНЫ ====================
  /api/geozone/:
    get:
      tags: [Геозоны]
      summary: Список геозон
      description: |
        Возвращает список всех геозон в текущем аккаунте.
        Геозоны - это области на карте (круг, полигон, линия) для контроля нахождения объектов.
      security:
        - TokenAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Geozone"
    post:
      tags: [Геозоны]
      summary: Создать геозону
      description: Создание новой геозоны на карте
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GeozoneCreateRequest"
      responses:
        "201":
          description: Геозона создана
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Geozone"

  /api/geozone/{geozone_id}/:
    get:
      tags: [Геозоны]
      summary: Детали геозоны
      security:
        - TokenAuth: []
      parameters:
        - name: geozone_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Geozone"
    put:
      tags: [Геозоны]
      summary: Обновить геозону
      security:
        - TokenAuth: []
      parameters:
        - name: geozone_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GeozoneUpdateRequest"
      responses:
        "200":
          description: Геозона обновлена
    delete:
      tags: [Геозоны]
      summary: Удалить геозону
      security:
        - TokenAuth: []
      parameters:
        - name: geozone_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Геозона удалена

  /api/geozone/display/:
    post:
      tags: [Геозоны]
      summary: Настроить видимость геозон
      description: Установить список геозон, отображаемых на карте для пользователя
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [visibleGeozoneIds]
              properties:
                visibleGeozoneIds:
                  type: array
                  description: Массив ID геозон для отображения на карте
                  minItems: 0
                  items:
                    type: integer
                    format: int64
                    minimum: 1
      responses:
        "201":
          description: Настройки сохранены

  /api/geozones/groups/:
    get:
      tags: [Геозоны]
      summary: Список групп геозон
      security:
        - TokenAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GeozoneGroup"
    post:
      tags: [Геозоны]
      summary: Создать группу геозон
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, tiedGeozones]
              properties:
                name:
                  type: string
                description:
                  type: string
                tiedGeozones:
                  type: array
                  description: Массив идентификаторов геозон
                  minItems: 0
                  items:
                    type: integer
                    format: int64
      responses:
        "201":
          description: Группа создана

  /api/geozones/groups/{id}/:
    get:
      tags: [Геозоны]
      summary: Детали группы геозон
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Успешный ответ
    put:
      tags: [Геозоны]
      summary: Обновить группу геозон
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, tiedGeozones]
              properties:
                name:
                  type: string
                description:
                  type: string
                tiedGeozones:
                  type: array
                  description: Массив идентификаторов геозон
                  minItems: 0
                  items:
                    type: integer
                    format: int64
      responses:
        "200":
          description: Группа обновлена
    delete:
      tags: [Геозоны]
      summary: Удалить группу геозон
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Группа удалена

  # ==================== ПРИЦЕПЫ ====================
  /api/trailers/:
    get:
      tags: [Прицепы]
      summary: Список прицепов
      description: Возвращает список всех прицепов в текущем аккаунте с информацией о привязке
      security:
        - TokenAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Trailer"
    post:
      tags: [Прицепы]
      summary: Создать прицеп
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrailerCreateRequest"
      responses:
        "201":
          description: Прицеп создан

  /api/trailers/{id}/:
    get:
      tags: [Прицепы]
      summary: Детали прицепа
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trailer"
    put:
      tags: [Прицепы]
      summary: Обновить прицеп
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrailerCreateRequest"
      responses:
        "200":
          description: Прицеп обновлен
    delete:
      tags: [Прицепы]
      summary: Удалить прицеп
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Прицеп удален

  /api/trailer/attach/:
    post:
      tags: [Прицепы]
      summary: Прикрепить прицеп к объекту
      description: Привязка прицепа к объекту мониторинга
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [trailerId, objectId]
              properties:
                trailerId:
                  type: integer
                objectId:
                  type: integer
      responses:
        "204":
          description: Прицеп прикреплен

  /api/trailer/deattach/:
    post:
      tags: [Прицепы]
      summary: Открепить прицеп от объекта
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [trailerId]
              properties:
                trailerId:
                  type: integer
      responses:
        "204":
          description: Прицеп откреплен

  /api/trailer/history/{id}/:
    get:
      tags: [Прицепы]
      summary: История привязок прицепа
      description: История всех привязок прицепа к объектам
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    objectId:
                      type: integer
                    objectName:
                      type: string
                    datetimeStart:
                      type: string
                      format: date-time
                    datetimeEnd:
                      type: string
                      format: date-time
                      nullable: true

  /api/trailers/groups/:
    get:
      tags: [Прицепы]
      summary: Список групп прицепов
      security:
        - TokenAuth: []
      responses:
        "200":
          description: Успешный ответ
    post:
      tags: [Прицепы]
      summary: Создать группу прицепов
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, tiedTrailers]
              properties:
                name:
                  type: string
                  description: Название группы
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                  description: Описание группы
                  nullable: true
                tiedTrailers:
                  type: array
                  description: Массив идентификаторов прицепов
                  minItems: 0
                  items:
                    type: integer
                    format: int64
      responses:
        "201":
          description: Группа создана

  /api/trailers/groups/{id}/:
    get:
      tags: [Прицепы]
      summary: Детали группы прицепов
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Успешный ответ
    put:
      tags: [Прицепы]
      summary: Обновить группу прицепов
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, tiedTrailers]
              properties:
                name:
                  type: string
                  description: Название группы
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                  description: Описание группы
                  nullable: true
                tiedTrailers:
                  type: array
                  description: Массив идентификаторов прицепов
                  minItems: 0
                  items:
                    type: integer
                    format: int64
      responses:
        "200":
          description: Группа обновлена
    delete:
      tags: [Прицепы]
      summary: Удалить группу прицепов
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Группа удалена

  # ==================== СООБЩЕНИЯ И ТРЕКИ ====================
  /api/messages/get:
    post:
      tags: [Сообщения]
      summary: Получить сообщения от объектов
      description: |
        Получение сообщений (координат, данных датчиков) от объектов за период.
        Используется для построения треков и анализа параметров.
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                [
                  objectId,
                  startDate,
                  endDate,
                  messagesParam,
                  messagesType,
                  sort,
                ]
              properties:
                objectId:
                  type: integer
                  description: ID объекта
                startDate:
                  type: string
                  format: date-time
                  description: Начало периода
                endDate:
                  type: string
                  format: date-time
                  description: Конец периода
                messagesType:
                  type: string
                  description: Тип сообщений
                  enum: ["with_data"]
                messagesParam:
                  type: string
                  description: Параметры сообщений
                  enum: ["raw"]
                sort:
                  type: string
                  enum: ["asc", "desc"]

      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    t:
                      type: string
                      format: date-time
                      description: Время сообщения
                    pos:
                      type: object
                      properties:
                        x:
                          type: number
                          description: Широта
                        y:
                          type: number
                          description: Долгота
                        s:
                          type: string
                          description: Скорость
                        c:
                          type: number
                          description: Курс
                    params:
                      type: object
                      description: Параметры и их значения

  /api/messages/stat:
    post:
      tags: [Сообщения]
      summary: Статистика сообщений
      description: Получить статистику по сообщениям объекта за период
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [objectId, startDatetime, endDatetime, messagesType]
              properties:
                objectId:
                  type: integer
                startDatetime:
                  type: string
                  format: date-time
                endDatetime:
                  type: string
                  format: date-time
                messagesType:
                  type: string
                  description: Тип сообщений
                  enum: ["with_data"]

      responses:
        "200":
          description: Статистика получена
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  createdAt:
                    type: string
                    format: date-time
                  duration:
                    type: float
                    description: Общее время
                  distance:
                    type: float
                    description: Пробег по GPS
                  maxSpeed:
                    type: float

  /api/messages/chart:
    post:
      tags: [Сообщения]
      summary: Данные для графика
      description: Получить данные параметров для построения графиков
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [objectId, startDatetime, endDatetime, messageFields]
              properties:
                objectId:
                  type: integer
                startDatetime:
                  type: string
                  format: date-time
                endDatetime:
                  type: string
                  format: date-time
                messageFields:
                  type: array
                  items:
                    type: string
                  description: Список параметров для графика
      responses:
        "200":
          description: Данные для графика получены

  /api/messages/point_info/:
    post:
      tags: [Сообщения]
      summary: Информация о точке трека
      description: Получить детальную информацию о значениях датчиков и параметров в конкретной точке на треке
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [objectId, messageDatetime]
              properties:
                objectId:
                  type: integer
                messageDatetime:
                  type: string
                  format: date-time
      responses:
        "200":
          description: Информация о точке получена

  /api/tracks/create/:
    post:
      tags: [Треки]
      summary: Построить трек
      description: |
        Построение трека движения объекта за период.
        Трек включает координаты, скорость, стоянки, поездки и другие данные.
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [startDate, endDate, objectId, trackType, detectTrips]
              properties:
                startDate:
                  type: string
                  format: date-time
                  description: Начало периода
                endDate:
                  type: string
                  format: date-time
                  description: Конец периода
                objectId:
                  type: integer
                  minimum: 1
                  description: ID объекта
                trackType:
                  type: string
                  description: Тип трека
                  enum: ["single", "sensor"]
                sensorId:
                  type: integer
                  description: ID датчика (опционально)
                detectTrips:
                  type: boolean
                  description: Определение поездок
                withStops:
                  type: boolean
                  default: false
                  description: Включить остановки
                withParkings:
                  type: boolean
                  default: false
                  description: Включить стоянки
                withRefuels:
                  type: boolean
                  default: false
                  description: Включить заправки
                withPlums:
                  type: boolean
                  default: false
                  description: Включить сливы
                withOverSpeed:
                  type: boolean
                  default: false
                  description: Включить превышения скорости
      responses:
        "200":
          description: Трек построен
          content:
            application/json:
              schema:
                type: object
                description: Данные трека (структура зависит от типа трека)

  /api/road_events/get/:
    post:
      tags: [Треки]
      summary: Дорожные события
      description: |
        Получить информацию о дорожных событиях объекта за период.
        События включают: потери связи, моточасы, превышения скорости, стоянки, сливы, заправки, остановки, поездки.
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [startDate, endDate, objectId]
              properties:
                startDate:
                  type: string
                  format: date-time
                  description: Начало периода
                endDate:
                  type: string
                  format: date-time
                  description: Конец периода
                objectId:
                  type: integer
                  minimum: 1
                  description: ID объекта
                withConnectionLosses:
                  type: boolean
                  default: false
                  description: Включить потери связи
                withEngineHours:
                  type: boolean
                  default: false
                  description: Включить моточасы
                withOverSpeed:
                  type: boolean
                  default: false
                  description: Включить превышения скорости
                withParkings:
                  type: boolean
                  default: false
                  description: Включить стоянки
                withPlums:
                  type: boolean
                  default: false
                  description: Включить сливы
                withRefuels:
                  type: boolean
                  default: false
                  description: Включить заправки
                withStops:
                  type: boolean
                  default: false
                  description: Включить остановки
                withTrips:
                  type: boolean
                  default: false
                  description: Включить поездки
      responses:
        "200":
          description: Дорожные события получены
          content:
            application/json:
              schema:
                type: object
                description: Данные дорожных событий

  # ==================== УВЕДОМЛЕНИЯ ====================
  /api/notifications/:
    get:
      tags: [Уведомления]
      summary: Список созданных уведомлений
      description: |
        Получить список всех созданных уведомлений и их настроек.
        Уведомления могут отправляться при входе/выходе из геозон, превышении скорости и других событиях.
      security:
        - TokenAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Notification"
    post:
      tags: [Уведомления]
      summary: Создать новое уведомление
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationCreateRequest"
      responses:
        "201":
          description: Уведомление создано

  /api/notifications/{id}/:
    get:
      tags: [Уведомления]
      summary: Получить настройки уведомления по id
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notification"
    put:
      tags: [Уведомления]
      summary: Изменить настройки уведомления
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationCreateRequest"
      responses:
        "200":
          description: Настройки уведомления изменены
    delete:
      tags: [Уведомления]
      summary: Удалить уведомление
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Уведомление удалено

  /api/notification_events/:
    get:
      tags: [Уведомления]
      summary: Журнал сработавших уведомлений
      description: Список всех сработавших уведомлений
      security:
        - TokenAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: per_page
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
      #        - name: startDate
      #          in: query
      #          schema:
      #            type: string
      #            format: date-time
      #        - name: endDate
      #          in: query
      #          schema:
      #            type: string
      #            format: date-time
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        notificationName:
                          type: string
                        objectName:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                        message:
                          type: string

  # ==================== ОТЧЁТЫ ====================
  # /api/reports/:
  #   post:
  #     tags: [Отчёты]
  #     summary: Создать отчёт
  #     description: |
  #       Создание нового отчёта по заданным параметрам.
  #       Отчёт может быть по пробегу, поездкам, стоянкам, топливу и другим параметрам.
  #     security:
  #       - TokenAuth: []
  #     requestBody:
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             required: [reportType, objectIds, startDate, endDate]
  #             properties:
  #               reportType:
  #                 type: string
  #                 description: Тип отчёта
  #                 enum: [mileage, trips, parkings, fuel, sensors, geozones, drivers]
  #               objectIds:
  #                 type: array
  #                 items:
  #                   type: integer
  #                 description: ID объектов для отчёта
  #               startDate:
  #                 type: string
  #                 format: date-time
  #               endDate:
  #                 type: string
  #                 format: date-time
  #               parameters:
  #                 type: object
  #                 description: Дополнительные параметры отчёта
  #     responses:
  #       '202':
  #         description: Отчёт поставлен в очередь на формирование
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 reportId:
  #                   type: string
  #                   format: uuid
  #                   description: ID созданного отчёта

  # /api/reports/{report_id}/:
  #   get:
  #     tags: [Отчёты]
  #     summary: Получить отчёт
  #     description: Получить данные сформированного отчёта
  #     security:
  #       - TokenAuth: []
  #     parameters:
  #       - name: report_id
  #         in: path
  #         required: true
  #         schema:
  #           type: string
  #           format: uuid
  #     responses:
  #       '200':
  #         description: Отчёт получен
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 reportId:
  #                   type: string
  #                   format: uuid
  #                 status:
  #                   type: string
  #                   enum: [pending, processing, completed, error]
  #                 data:
  #                   type: object
  #                   description: Данные отчёта

  # /api/reports/status/:
  #   get:
  #     tags: [Отчёты]
  #     summary: Статус формирования отчёта
  #     description: Проверить статус формирования отчёта
  #     security:
  #       - TokenAuth: []
  #     parameters:
  #       - name: reportId
  #         in: query
  #         required: true
  #         schema:
  #           type: string
  #           format: uuid
  #     responses:
  #       '200':
  #         description: Статус получен
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 status:
  #                   type: string
  #                 progress:
  #                   type: integer
  #                   description: Прогресс в процентах

  # /api/reports/table/{table_id}/:
  #   get:
  #     tags: [Отчёты]
  #     summary: Получить табличные данные отчёта
  #     security:
  #       - TokenAuth: []
  #     parameters:
  #       - name: table_id
  #         in: path
  #         required: true
  #         schema:
  #           type: string
  #           format: uuid
  #     responses:
  #       '200':
  #         description: Табличные данные получены

  # /api/reports/chart/{chart_id}/:
  #   get:
  #     tags: [Отчёты]
  #     summary: Получить данные графика отчёта
  #     security:
  #       - TokenAuth: []
  #     parameters:
  #       - name: chart_id
  #         in: path
  #         required: true
  #         schema:
  #           type: string
  #           format: uuid
  #     responses:
  #       '200':
  #         description: Данные графика получены

  # /api/reports/export/{export_type}/{report_id}:
  #   get:
  #     tags: [Отчёты]
  #     summary: Экспорт отчёта
  #     description: Экспорт отчёта в различных форматах (PDF, Excel, CSV)
  #     security:
  #       - TokenAuth: []
  #     parameters:
  #       - name: export_type
  #         in: path
  #         required: true
  #         schema:
  #           type: string
  #           enum: [pdf, excel, csv]
  #       - name: report_id
  #         in: path
  #         required: true
  #         schema:
  #           type: string
  #           format: uuid
  #     responses:
  #       '200':
  #         description: Файл отчёта
  #         content:
  #           application/pdf: {}
  #           application/vnd.openxmlformats-officedocument.spreadsheetml.sheet: {}
  #           text/csv: {}

  # /api/reports/templates/:
  #   get:
  #     tags: [Отчёты]
  #     summary: Список шаблонов отчётов
  #     description: Получить список сохранённых шаблонов отчётов
  #     security:
  #       - TokenAuth: []
  #     responses:
  #       '200':
  #         description: Список шаблонов
  #         content:
  #           application/json:
  #             schema:
  #               type: array
  #               items:
  #                 type: object
  #                 properties:
  #                   id:
  #                     type: integer
  #                   name:
  #                     type: string
  #                   reportType:
  #                     type: string
  #                   description:
  #                     type: string
  #   post:
  #     tags: [Отчёты]
  #     summary: Создать шаблон отчёта
  #     security:
  #       - TokenAuth: []
  #     requestBody:
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             required: [name, reportType, parameters]
  #             properties:
  #               name:
  #                 type: string
  #               reportType:
  #                 type: string
  #               description:
  #                 type: string
  #               parameters:
  #                 type: object
  #     responses:
  #       '201':
  #         description: Шаблон создан

  # /api/reports/templates/{id}/:
  #   get:
  #     tags: [Отчёты]
  #     summary: Детали шаблона отчёта
  #     security:
  #       - TokenAuth: []
  #     parameters:
  #       - name: id
  #         in: path
  #         required: true
  #         schema:
  #           type: integer
  #     responses:
  #       '200':
  #         description: Шаблон получен
  #   put:
  #     tags: [Отчёты]
  #     summary: Обновить шаблон отчёта
  #     security:
  #       - TokenAuth: []
  #     parameters:
  #       - name: id
  #         in: path
  #         required: true
  #         schema:
  #           type: integer
  #     responses:
  #       '200':
  #         description: Шаблон обновлён
  #   delete:
  #     tags: [Отчёты]
  #     summary: Удалить шаблон отчёта
  #     security:
  #       - TokenAuth: []
  #     parameters:
  #       - name: id
  #         in: path
  #         required: true
  #         schema:
  #           type: integer
  #     responses:
  #       '204':
  #         description: Шаблон удалён

  # /api/reports/mailing/:
  #   get:
  #     tags: [Отчёты]
  #     summary: Список рассылок отчётов
  #     description: Список настроенных автоматических рассылок отчётов на email
  #     security:
  #       - TokenAuth: []
  #     responses:
  #       '200':
  #         description: Список рассылок
  #   post:
  #     tags: [Отчёты]
  #     summary: Создать рассылку отчётов
  #     security:
  #       - TokenAuth: []
  #     requestBody:
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             required: [name, reportTemplateId, schedule, emails]
  #             properties:
  #               name:
  #                 type: string
  #               reportTemplateId:
  #                 type: integer
  #               schedule:
  #                 type: string
  #                 description: Расписание в формате cron
  #               emails:
  #                 type: array
  #                 items:
  #                   type: string
  #                   format: email
  #     responses:
  #       '201':
  #         description: Рассылка создана

  # /api/reports/mailing/{id}/:
  #   get:
  #     tags: [Отчёты]
  #     summary: Детали рассылки
  #     security:
  #       - TokenAuth: []
  #     parameters:
  #       - name: id
  #         in: path
  #         required: true
  #         schema:
  #           type: integer
  #     responses:
  #       '200':
  #         description: Рассылка получена
  #   put:
  #     tags: [Отчёты]
  #     summary: Обновить рассылку
  #     security:
  #       - TokenAuth: []
  #     parameters:
  #       - name: id
  #         in: path
  #         required: true
  #         schema:
  #           type: integer
  #     responses:
  #       '200':
  #         description: Рассылка обновлена
  #   delete:
  #     tags: [Отчёты]
  #     summary: Удалить рассылку
  #     security:
  #       - TokenAuth: []
  #     parameters:
  #       - name: id
  #         in: path
  #         required: true
  #         schema:
  #           type: integer
  #     responses:
  #       '204':
  #         description: Рассылка удалена

  # ==================== ЛОКАТОРЫ ====================
  /api/locators/:
    get:
      tags: [Локаторы]
      summary: Список локаторов
      description: |
        Список созданных локаторов (публичных ссылок для отслеживания объектов).
        Локаторы позволяют предоставить доступ к отслеживанию объектов без регистрации.
      security:
        - TokenAuth: []
      responses:
        "200":
          description: Список локаторов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Locator"
    post:
      tags: [Локаторы]
      summary: Создать локатор
      description: Создать публичную ссылку для отслеживания объектов
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                [
                  activation,
                  expirationValue,
                  showTracks,
                  showGeozones,
                  objectIds,
                  objectGroupIds,
                ]
              properties:
                activation:
                  type: string
                  format: date-time
                  description: Дата активации
                expirationValue:
                  type: integer
                  description: Значение срока действия
                expirationType:
                  type: string
                  enum: [days, hours, minutes]
                  description: Тип срока действия
                note:
                  type: string
                  description: Примечание
                showTracks:
                  type: boolean
                  description: Отображать треки
                showGeozones:
                  type: boolean
                  description: Отображать геозоны
                objectIds:
                  type: array
                  minItems: 0
                  items:
                    type: integer
                    format: int64
                  description: ID объектов
                objectGroupIds:
                  type: array
                  minItems: 0
                  items:
                    type: integer
                    format: int64
                  description: ID групп объектов
      responses:
        "201":
          description: Локатор создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Locator"

  /api/locators/{locator_id}/:
    get:
      tags: [Локаторы]
      summary: Детали локатора
      security:
        - TokenAuth: []
      parameters:
        - name: locator_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Локатор получен
    put:
      tags: [Локаторы]
      summary: Обновить локатор
      security:
        - TokenAuth: []
      parameters:
        - name: locator_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                [
                  activation,
                  expirationValue,
                  showTracks,
                  showGeozones,
                  objectIds,
                  objectGroupIds,
                ]
              properties:
                activation:
                  type: string
                  format: date-time
                  description: Дата активации
                expirationValue:
                  type: integer
                  description: Значение срока действия
                expirationType:
                  type: string
                  enum: [days, hours, minutes]
                  description: Тип срока действия
                note:
                  type: string
                  description: Примечание
                showTracks:
                  type: boolean
                  description: Отображать треки
                showGeozones:
                  type: boolean
                  description: Отображать геозоны
                objectIds:
                  type: array
                  minItems: 0
                  items:
                    type: integer
                    format: int64
                  description: ID объектов
                objectGroupIds:
                  type: array
                  minItems: 0
                  items:
                    type: integer
                    format: int64
                  description: ID групп объектов
      responses:
        "200":
          description: Локатор обновлён
    delete:
      tags: [Локаторы]
      summary: Удалить локатор
      security:
        - TokenAuth: []
      parameters:
        - name: locator_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Локатор удалён

  /api/locators/info/{locator_id}/:
    get:
      tags: [Локаторы]
      summary: Публичная информация о локаторе
      description: |
        Публичный endpoint для получения информации о локаторе (без авторизации).
        Используется для отображения карты с объектами по публичной ссылке.
      parameters:
        - name: locator_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Информация о локаторе
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  objects:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        position:
                          type: object

  /api/locators/info/{locator_id}/{object_id}/:
    get:
      tags: [Локаторы]
      summary: Публичная информация об объекте в локаторе
      description: Получить текущую информацию о конкретном объекте в локаторе (без авторизации)
      parameters:
        - name: locator_id
          in: path
          required: true
          schema:
            type: string
        - name: object_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Информация об объекте

  /api/locators/track/{locator_id}/{object_id}/:
    get:
      tags: [Локаторы]
      summary: Публичный трек объекта в локаторе
      description: Получить трек движения объекта за период (без авторизации)
      parameters:
        - name: locator_id
          in: path
          required: true
          schema:
            type: string
        - name: object_id
          in: path
          required: true
          schema:
            type: integer
        - name: startDate
          in: query
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Трек объекта

  # ==================== ПОМЕЩЕНИЯ ====================
  /api/building/:
    get:
      tags: [Помещения]
      summary: Список зданий
      description: Список зданий для контроля персонала в помещениях
      security:
        - TokenAuth: []
      responses:
        "200":
          description: Список зданий
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    address:
                      type: string
                    roomsCount:
                      type: integer
    post:
      tags: [Помещения]
      summary: Создать здание
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, address, lat, lng]
              properties:
                name:
                  type: string
                  maxLength: 255
                  description: Название здания
                address:
                  type: string
                  maxLength: 255
                  description: Адрес здания
                lat:
                  type: number
                  format: float
                  description: Широта
                lng:
                  type: number
                  format: float
                  description: Долгота
      responses:
        "201":
          description: Здание создано

  /api/building/{id}/:
    get:
      tags: [Помещения]
      summary: Детали здания
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Здание получено
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  address:
                    type: string
                  lat:
                    type: number
                    format: float
                  lng:
                    type: number
                    format: float
                  rooms:
                    type: array
                    description: Комнаты в здании
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
    put:
      tags: [Помещения]
      summary: Обновить здание
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                address:
                  type: string
                  maxLength: 255
                lat:
                  type: number
                  format: float
                lng:
                  type: number
                  format: float
      responses:
        "200":
          description: Здание обновлено
    delete:
      tags: [Помещения]
      summary: Удалить здание
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Здание удалено

  /api/building_rooms/:
    get:
      tags: [Помещения]
      summary: Список комнат/помещений
      security:
        - TokenAuth: []
      parameters:
        - name: buildingId
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Список комнат
    post:
      tags: [Помещения]
      summary: Создать комнату/помещение
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, building, schema, devicesPositions]
              properties:
                name:
                  type: string
                  maxLength: 255
                  description: Название комнаты
                building:
                  type: integer
                  description: ID здания
                schema:
                  type: string
                  format: binary
                  description: Схема помещения (изображение)
                devicesPositions:
                  type: array
                  description: Позиции устройств на схеме
                  items:
                    type: object
                    properties:
                      deviceId:
                        type: integer
                      x:
                        type: number
                      y:
                        type: number
      responses:
        "201":
          description: Комната создана

  /api/building_rooms/{id}/:
    get:
      tags: [Помещения]
      summary: Детали комнаты
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Комната получена
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  building:
                    type: integer
                    description: ID здания
                  schema:
                    type: string
                    description: URL схемы помещения
                  devicesPositions:
                    type: array
                    description: Позиции устройств на схеме
                    items:
                      type: object
                      properties:
                        deviceId:
                          type: integer
                        x:
                          type: number
                        y:
                          type: number
                  devices:
                    type: array
                    description: Устройства в комнате
                    items:
                      $ref: "#/components/schemas/Device"
    put:
      tags: [Помещения]
      summary: Обновить комнату
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                building:
                  type: integer
                  description: ID здания
                schema:
                  type: string
                  format: binary
                  description: Схема помещения (изображение)
                devicesPositions:
                  type: array
                  description: Позиции устройств на схеме
                  items:
                    type: object
                    properties:
                      deviceId:
                        type: integer
                      x:
                        type: number
                      y:
                        type: number
      responses:
        "200":
          description: Комната обновлена
    delete:
      tags: [Помещения]
      summary: Удалить комнату
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Комната удалена

  /api/room_info/{room_id}/:
    get:
      tags: [Помещения]
      summary: Информация о комнате и находящихся в ней объектах
      description: |
        Получить информацию о комнате и объектах, которые в данный момент находятся в ней.
        Возвращает объекты, сгруппированные по MAC-адресам устройств (bluetooth-меток).
      security:
        - TokenAuth: []
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Информация о комнате
          content:
            application/json:
              schema:
                type: object
                description: Объект с MAC-адресами устройств в качестве ключей
                additionalProperties:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Название объекта
                      t:
                        type: string
                        format: date-time
                        description: Время последнего сообщения
              example:
                "aa:bb:cc:dd:ee:ff":
                  - name: "Сотрудник 1"
                    t: "2025-10-07T12:34:56"
                  - name: "Сотрудник 2"
                    t: "2025-10-07T12:35:10"
                "11:22:33:44:55:66":
                  - name: "Сотрудник 3"
                    t: "2025-10-07T12:30:00"

  # ==================== ПОЛЬЗОВАТЕЛЬСКИЕ УСТРОЙСТВА ====================
  # /api/user_devices/:
  #   get:
  #     tags: [Пользовательские устройства]
  #     summary: Список мобильных устройств пользователя
  #     description: |
  #       Список мобильных устройств (телефонов, планшетов), с которых пользователь входил в систему.
  #       Используется для управления push-уведомлениями.
  #     security:
  #       - TokenAuth: []
  #     responses:
  #       '200':
  #         description: Список устройств
  #         content:
  #           application/json:
  #             schema:
  #               type: array
  #               items:
  #                 type: object
  #                 properties:
  #                   deviceId:
  #                     type: string
  #                     description: ID устройства
  #                   deviceName:
  #                     type: string
  #                     description: Название устройства
  #                   platform:
  #                     type: string
  #                     enum: [ios, android]
  #                   lastActive:
  #                     type: string
  #                     format: date-time
  #                   pushEnabled:
  #                     type: boolean
  #   post:
  #     tags: [Пользовательские устройства]
  #     summary: Зарегистрировать устройство
  #     description: Регистрация мобильного устройства для получения push-уведомлений
  #     security:
  #       - TokenAuth: []
  #     requestBody:
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             required: [deviceId, platform, pushToken]
  #             properties:
  #               deviceId:
  #                 type: string
  #               platform:
  #                 type: string
  #                 enum: [ios, android]
  #               pushToken:
  #                 type: string
  #               deviceName:
  #                 type: string
  #     responses:
  #       '201':
  #         description: Устройство зарегистрировано

  # /api/user_devices/{device_id}/:
  #   delete:
  #     tags: [Пользовательские устройства]
  #     summary: Удалить устройство
  #     description: Отменить регистрацию устройства и отключить push-уведомления
  #     security:
  #       - TokenAuth: []
  #     parameters:
  #       - name: device_id
  #         in: path
  #         required: true
  #         schema:
  #           type: string
  #     responses:
  #       '204':
  #         description: Устройство удалено

  # # ==================== ПРАВА ДОСТУПА ====================
  # /api/access/available/list:
  #   get:
  #     tags: [Права доступа]
  #     summary: Список доступных прав доступа
  #     description: |
  #       Получить список всех возможных прав доступа в системе.
  #       Используется для настройки прав пользователей к ресурсам.
  #     security:
  #       - TokenAuth: []
  #     responses:
  #       '200':
  #         description: Список прав доступа
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 common:
  #                   type: array
  #                   items:
  #                     type: string
  #                   description: Общие права доступа
  #                   example: ["view", "edit", "delete", "export"]
  #                 objects:
  #                   type: array
  #                   items:
  #                     type: string
  #                   description: Права доступа к объектам
  #                 drivers:
  #                   type: array
  #                   items:
  #                     type: string
  #                 geozones:
  #                   type: array
  #                   items:
  #                     type: string
  #                 reports:
  #                   type: array
  #                   items:
  #                     type: string

  # ==================== ОБЪЕКТЫ ====================
  /api/objects/:
    get:
      tags: [Объекты]
      summary: Список объектов
      description: Возвращает список доступных пользователю объектов мониторинга.
      security:
        - TokenAuth: []
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ObjectListItem"
    post:
      tags: [Объекты]
      summary: Создать объект
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                general:
                  type: object
                  properties:
                    name: { type: string }
                    objectTypeId: { type: integer }
                    deviceTypeId: { type: integer }
                    iconId: { type: integer }
                    objectIconColor: { type: string }
                    uniqueId: { type: string }
                    phoneNumber:
                      type: array
                      items: { type: string }
                    password: { type: string, nullable: true }
                    useLbs: { type: boolean }
                    useWifiBle: { type: boolean }
                additional: { type: object }
                tripDetector: { type: object }
                customFields:
                  type: array
                  items: { type: object }
                specifications:
                  type: array
                  items: { type: object }
                sensors:
                  type: array
                  items: { type: object }
                commands:
                  type: array
                  items: { type: object }
                accesses: { type: object }
                isActive: { type: boolean }
      responses:
        "201":
          description: Создано
  /api/objects/{id}/:
    get:
      tags: [Объекты]
      summary: Детали объекта
      description: |
        Возвращает информацию об объекте.
        Параметры запроса:
        - card=true — карточка объекта (упрощённый состав полей)
        - full=true — полное представление объекта
      security:
        - TokenAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: card
          in: query
          schema:
            type: string
          description: Если true — вернуть карточку объекта
        - name: full
          in: query
          schema:
            type: string
          description: Если true — вернуть полное представление объекта
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  uniqueId:
                    type: string
    put:
      tags: [Объекты]
      summary: Обновить объект
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200": { description: Обновлено }
    delete:
      tags: [Объекты]
      summary: Удалить объект
      security:
        - TokenAuth: []
      responses:
        "204": { description: Удалено }
  /api/objects/short/:
    get:
      tags: [Объекты]
      summary: Список объектов (краткий)
      security:
        - TokenAuth: []
      responses:
        "200": { description: Успешный ответ }
  /api/objects/{id}/sensors/:
    get:
      tags: [Объекты]
      summary: Получить датчики объекта
      security:
        - TokenAuth: []
      responses:
        "200": { description: Успешный ответ }
  /api/objects/{id}/commands/:
    get:
      tags: [Объекты]
      summary: Получить команды объекта
      security:
        - TokenAuth: []
      responses:
        "200": { description: Успешный ответ }
  /api/objects/{id}/drivers/:
    get:
      tags: [Объекты]
      summary: Получить водителей объекта
      security:
        - TokenAuth: []
      responses:
        "200": { description: Успешный ответ }
  /api/objects/{id}/send_command/:
    post:
      tags: [Объекты]
      summary: Отправить произвольную команду объекту
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                params:
                  type: string
                  description: Произвольное сообщение
      responses:
        "204": { description: Отправлено }
  /api/objects/{id}/events/:
    post:
      tags: [Объекты]
      summary: Зарегистрировать событие
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [t, description, type]
              properties:
                t:
                  type: string
                  format: date-time
                  description: Временная метка события
                description:
                  type: string
                  description: Текст события (обязательное поле)
                type:
                  type: string
                  description: Тип события
                  enum: ["custom", "violation"]
                pos:
                  type: object
                  nullable: true
                  description: Координаты позиции (необязательный параметр)
                  properties:
                    x:
                      type: number
                      format: float
                    y:
                      type: number
                      format: float
      responses:
        "201": { description: Создано }
  /api/objects/{id}/events/bulk_delete/:
    post:
      tags: [Объекты]
      summary: Массовое удаление событий
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [eventIds]
              properties:
                eventIds:
                  type: array
                  description: Массив идентификаторов событий для удаления
                  minItems: 0
                items:
                  type: integer
                  format: int64
      responses:
        "204": { description: Удалено }
  /api/objects/specification_list/:
    get:
      tags: [Объекты]
      summary: Список харакетристик по аккаунту
      security:
        - TokenAuth: []
      responses:
        "200": { description: Успешный ответ }
  /api/objects/display/:
    post:
      tags: [Объекты]
      summary: Настроить список объектов для мониторинга
      description: Принимает список идентификаторов объектов, которые должны отображаться у пользователя в списке мониторинге.
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VisibleObjectsIds"
      responses:
        "201": { description: Настройки применены }

  /api/objects/set_map_visibility/:
    post:
      tags: [Объекты]
      summary: Настроить отображение объектов на карте
      description: Позволяет настроить видимость иконок объектов из списка мониторинга на карте
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                objectIds:
                  type: array
                  items:
                    type: integer
                state:
                  type: boolean
      responses:
        "200": { description: Настройки применены }

  /api/objects/groups/:
    get:
      tags: [Объекты]
      summary: Список групп объектов
      description: Получить список групп объектов для организации и фильтрации
      security:
        - TokenAuth: []
      responses:
        "200":
[...]
